<nav>
  <div class="nav-wrapper red darken-4">
    <a href="/restaurants" class="brand-logo">SINO</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <% if (locals.isLoggedIn) { %>
        <li class="grey-text text-lighten-1">(Signed in as <%= locals.currentUser.username %>)</li>
      <% } %>
      <li><a href="/">Home</a></li>
      <li><a href="/restaurants">Restaurants</a></li>
      <% if (locals.isLoggedIn) {%>
        <li><a href="/users/show">My Profile</a></li>
        <li>
          <form action="/signin" method="post">
            <input type="hidden" name="_method" value="delete">
              <button class="btn waves-effect waves-light red lighten-1" type="submit" name="button">Sign Out</button>
          </form>
        </li>
      <% } else { %>
        <li><a href="/signup">Sign Up</a></li>
        <li><a href="/signin">Sign In</a></li>
      <% } %>
    </ul>
  </div>
</nav>
