<%# This will have the basic structure of the webpage. It will have a header and a footer. %>
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <header>
      <%- include partials/_header %>
    </header>
    <main>
      <%- body %>
    </main>
    <footer>
      <%- include partials/_footer %>
    </footer>
  </body>
</html>
