<% if (messages.danger) { %>
  <h3 class="danger message"><i class="fas fa-exclamation-circle"></i> &nbsp<%= messages.danger %></h3>
<% } %>
<div class="container">
  <div class="row">
    <h1>Sign In</h1>
  </div>
  <div class="row">
    <form action="signin" method="post">
      <div class="row">
        <div class="input-field col s6">
          <label for="username_field">Username:</label>
          <input type="text" name="username" id="username_field" required>
        </div>
        <div class="input-field col s6">
          <label for="password_field">Password:</label>
          <input type="password" name="password" id="password_field" required>
        </div>
      </div>
      <div class="submission">
        <button class="btn green lighten-1" type="submit" name="button">Submit</button>
      </div>
    </form>
  </div>
</div>
