* {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5em;
}

h1 {
  font-family: 'Poiret One', cursive;
}

strong {
  font-weight: 600;
}

/* .nav-wrapper {
  background-color: #963737;
} */

.page-footer {
  line-height: 1.5em;
}

.landing-page {
  background-image: url("../images/cover-image-2.jpg");
  /* background-image: url("https://www.standard.co.uk/s3fs-public/styles/story_large/public/thumbnails/image/2017/01/28/15/an114465565london-england-.jpg") */
  width: 100vw;
  height: 98vh;
  text-align: center;
  padding-top: 3vh;
  color: white;
}

.landing-page-inner {
  background-color: rgba(0, 0, 0, 0.5);
  padding-top: 3vh;
  padding-bottom: 3vh;
  margin: 0 10vw;
}

.landing-page-title {
  font-size: 230px;
  font-family: 'Poiret One', cursive;
}

.landing-page-subtitle {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.landing-page-call-to-action {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

.landing-page-link {
  text-decoration: underline;
  color: white;
}

.brand-logo {
  font-family: 'Poiret One', cursive;
}

.nav-wrapper {
  padding: 0 20px;
}

.message {
  font-size: 16px;
  text-align: center;
  color: white;
  margin: 0;
  padding: 20px;
}

.danger {
  background-color: #e53935;
}

.successful {
  background-color: #7cb342;
}

.message-link {
  text-decoration: underline;
  color: white;
}

.large-map {
  margin: 0 auto;
  display: block;
  -webkit-box-shadow: 0px 0px 51px -5px rgba(0,0,0,0.68);
  -moz-box-shadow: 0px 0px 51px -5px rgba(0,0,0,0.68);
  box-shadow: 0px 0px 51px -5px rgba(0,0,0,0.68);
  margin-bottom: 20px;
}

.btn {
  margin: 10px;
}

.btn-small {
  margin: 5px;
}

.btn-large {
  display: block;
  margin: 0 auto;
}

.fa-star {
  color: #ffae00;
}

.page-title {
  text-align: center;
}

.submission {
  text-align: center;
}

.show-image {
  width: 100%;
}

.show-page-rating {
  font-size: 24px;
}

.avg-user-rating {
  font-size: 14px;
}

form {
  display: inline;
}
