<h1>Add a new restaurant</h1>
<form action="new" method="post">
  <label for="name_field">Restaurant Name:</label>
  <input type="text" name="name" id="name_field" required>
  <label for="name_field">Restaurant Description:</label>
  <textarea name="description" rows="10" cols="30" id="description_field"></textarea>
  <label for="image_field">Image Link:</label>
  <input type="text" name="image" id="name_field">
  <label for="post_code">Image Link:</label>
  <input type="text" name="postcode" id="post_code">
  <button type="submit" name="button">Submit</button>
</form>
